@charset "utf-8";


/*-------------------------
	Simple reset
--------------------------*/

.primary {
  background-color: #757575;
  color: #ffffff;
}
.primary-light {
  background-color: #a4a4a4;
  color: #ffffff;
}
.primary-dark {
  background-color: #494949;
  color: #ffffff;
}
.secondary {
  background-color: #1976d2;
  color: #ffffff;
}
.secondary-light {
  background-color: #63a4ff;
  color: #ffffff;
}
.secondary-dark {
  background-color: #004ba0;
  color: #ffffff;
}
html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
/*-------------------------
	Demo page
-------------------------*/

.normal {
	background-color: #23232e;
}
.form {
    background-color: #dddddd;
}
.login-row{
    margin-top: 15%;
    margin-bottom: 15%;
}
.register-row{
    margin-top: 10%;
    margin-bottom: 10%;
}
@media (max-width: 768px){
    .login-row{
        margin-top:0px;
        margin-bottom:0px;
    }
    .register-row{
        margin-top:0px;
        margin-bottom:0px;
    }
}




