@charset "utf-8";


/*-------------------------
	Simple reset
--------------------------*/

.primary {
  background-color: #757575;
  color: #ffffff;
}
.primary-light {
  background-color: #a4a4a4;
  color: #ffffff;
}
.primary-dark {
  background-color: #494949;
  color: #ffffff;
}
.secondary {
  background-color: #1976d2;
  color: #ffffff;
}
.secondary-light {
  background-color: #63a4ff;
  color: #ffffff;
}
.secondary-dark {
  background-color: #004ba0;
  color: #ffffff;
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/*-------------------------
	Demo page
-------------------------*/

.normal {
	background-color: #23232e;
}
.form {
    background-color: #dddddd;
}
.kafelek{
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    text-decoration: none;
    color: white;
}
.name{
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    width: 70%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 40px;
}




