<!doctype html>
<html lang='pl'>
<head>

    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $('.modal').on('shown.bs.modal', function() {
            $(this).find('input:first').focus();
        });
  </script>
</head>
<body class="{% if page_id == 'homepage'%}normal{%else%}form{%endif%}" {%if current_user.is_authenticated and page_id == 'homepage'%}onhashchange="check_hash()" onload="check_hash()"{%endif%}>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark secondary-light mb-2">
        <a class="navbar-brand" href="/">Pliki</a>
        {% if page_id == 'register' or page_id == 'login' %}
        {% else %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                {% if current_user.is_authenticated%}
                <li class="nav-item {% if page_id == 'user' %}active{% endif %}">
                    <a class="nav-link" href="/user/{{current_user.username}}">{{current_user.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Wyloguj się</a>
                </li>
                {% if current_user.admin or current_user.modderator%}
                <hr>
                <li class="nav-item  md-m-0 mx-1 {% if page_id == 'admin' %} active{% endif %}">
                    <a class="btn btn-warning btn-block" href="/admin">Funkcje administratora</a>
                </li>
                <hr>
                {% endif %}
                {% else %}
                <li class="nav-item{% if page_id == 'register' %} active{% endif %}">
                    <a role="presentation" class="nav-link" data-toggle="modal" data-target="#register" href="#">Zarejestruj się</a>
                </li>
                <li class="nav-item{% if page_id == 'login' %} active{% endif %}">
                    <a role="presentation" class="nav-link" data-toggle="modal" data-target="#login" href="#">Zaloguj</a>
                </li>
                {% endif %}
                <li class="nav-item  md-m-0 mx-1">
                    <a class="btn btn-danger btn-block" href="https://gitreports.com/issue/butterfly-pn/pytatki">Zgłoś błąd!</a>
                </li>
            </ul>
            {% if page_id == 'homepage' and current_user.is_authenticated%}
            <ul class="navbar-nav">
                <hr>
            <li class="nav-item">
                  <div class="dropdown" role="group">
                    {% if current_user.admin or current_user.modderator%}
                      <button id="btnGroupDrop1" type="button" class="btn btn-block btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dodaj
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                      <a class="dropdown-item text-primary" href="/add">Dodaj notatkę</a>
                      <a class="dropdown-item text-primary" href="/admin/add">Dodaj przedmiot / dział</a>
                    </div>
                    {%else%}
                      <a class="btn btn-primary" href="/add">Dodaj</a>
                  {%endif%}
                  </div>
            </li>
            </ul>
            {%endif%}
        </div>
    {% endif %}
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div id="messages">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
              <div data-alert class="alert alert-{{category}} alert-dismissible show">
                  {{ message|urlize(30) }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
    <div class="col-lg-6"></div>
    </div>
        {% block content %}{% endblock %}
    </div>
    {% if page_id != 'register' %}
    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: left;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 style="text-align: left;" class="modal-title" id="exampleModalLabele">Zarejestruj się</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <form method=post action="/register/">
                    <div class="form-group">
                        <input class="form-control" id="username" name="username" type="text" value="" placeholder="Nazwa użytkownika">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="email" name="email" type="email" value="" placeholder="Adres email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="password" name="password" type="password" value="" placeholder="Hasło">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="confirm" name="confirm" type="password" value="" placeholder="Powtórz hasło">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="accept_tos" name="accept_tos" type="checkbox" value="checked">
                        <label class="form-check-label" for="accept_tos">Akceptuję Warunki użytkowania i Politykę prywatności (zaktualizowana 17 stycznia 2018r.)</label>
                    </div><br>
                    <input class="btn btn-primary" type=submit value="Zarejestruj się">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {%endif%}
    {% if page_id != 'login' %}
        <div class="modal fade" id="login" tabindex="-4" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: left;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 style="text-align: left;" class="modal-title" id="exampleModalLabele">Zaloguj się</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <form method=post action="/login/">
                        <div class="form-group">
                            <input class="form-control" id="username" name="username" type="text" value="" placeholder="Login lub email">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="password" name="password" type="password" value="" placeholder="Hasło">
                        </div>
                        <input class="btn btn-primary" type=submit value="Zaloguj się">
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
    {%endif%}

</body>
</html>
