{% extends "_base.html" %}

{% set page_id = 'about' %}

{% block content %}
<div class="row mt-3">
    <div class="col-md-1"></div>
      <div class="col-lg-10">
          <h1>O aplikacji</h1>
          <p>Pytatki to aplikacja do zarządzania plików do szkoły. Celem tego projektu jest udostępnianie przyszłym uczniom wiedzy, którą zdobyliśmy podczas nauki danych materiałów, żeby mogli uczyć się wcześniej. Również można tutaj udostępniać materiały rozszerzające dla głodnych wiedzy :)</p>
          <p>Pytatki to aplikacja <i>open source</i>, której kod udostępniony jest na <a href="https://github.com/butterfly-pn/pytatki">tutaj</a>. Zapraszamy wszystkich do współpracy.</p>
      </div>
    <div class="col-md-1"></div>
  </div>
{% endblock %}