{% extends "_base.html" %}
{% set page_id = "homepage" %}
{% block content %}
{% set kafelek_start = "<div class='col-lg-6 px-0 px-lg-2 pt-2 pb-2'><div class='col-lg-12 primary text-light rounded' style='height:118px; text-decoration: none;'>"%}
<title>Pliki</title>
<script>
    function check_hash(){
    if (window.location.hash == ""){
        home = "{%for subject in subjects%}{{ kafelek_start|safe }}<a href='/#{{subject.id}}' class='kafelek col-12'><span style='margin:1em; display: inline-block'><img class='ikona' src='{{url_for('static', filename='images/folder.png')}}'></span> <span style='display: inline-block' class='name'>{{subject.name}}</span></a></div></div>{%endfor%}";
        document.getElementById('data').innerHTML = home;
        breadcrumb_home = "<li class='breadcrumb-item active' aria-current='page'><a class='text-light' href='#'>Home</a></li>";
        document.getElementById('breadcrumb').innerHTML = breadcrumb_home;
    }
    {% for subject in subjects %}
    if (window.location.hash == "#{{subject.id}}"){
        html = "{%for topic in topics%}{% if topic.subject_id == subject.id%}{{ kafelek_start|safe }}<a href='/#{{subject.id}}#{{topic.id}}' class='kafelek col-12'><span style='margin:1em; display: inline-block'><img class='ikona' src='{{url_for('static', filename='images/folder.png')}}'></span> <span style='display: inline-block' class='name'>{{topic.name}}</span></a></div></div>{%endif%}{%endfor%}";
        document.getElementById('data').innerHTML = html;
        breadcrumb = "<li class='breadcrumb-item' aria-current='page'><a class='text-light' href='#'>Home</a></li><li class='breadcrumb-item active' aria-current='page'><a class='text-light' href='#{{subject.id}}'>{{subject.name}}</a></li>"
        document.getElementById('breadcrumb').innerHTML = breadcrumb;
    }
    {%endfor%}
    {% for subject in subjects %}
    {% for topic in topics %}
    {% if topic.subject_id == subject.id %}
    if (window.location.hash == "#{{subject.id}}#{{topic.id}}"){
        html = "{%for note in notes%}{% if note.subject_id == subject.id%}{%if note.topic_id == topic.id %}{{ kafelek_start|safe }}<a href='/download/{{note.file}}' class='kafelek col-12'><span style='margin:1em'></span> <span class='name'>{{note.name}}</span></a></div></div>{%endif%}{%endif%}{%endfor%}";
        document.getElementById('data').innerHTML = html;
        breadcrumb = "<li class='breadcrumb-item' aria-current='page'><a class='text-light' href='#'>Home</a></li><li class='breadcrumb-item' aria-current='page'><a class='text-light' href='#{{subject.id}}'>{{subject.name}}</a></li><li class='breadcrumb-item active' aria-current='page'><a class='text-light' href='#{{subject.id}}#{{topic.id}}'>{{topic.name}}</a></li>"
        document.getElementById('breadcrumb').innerHTML = breadcrumb;
    }
    {% endif %}
    {%endfor%}
    {%endfor%}
    }
</script>
<div class="row">
{% if current_user.is_authenticated%}
    <div class="col-lg-12">
        <nav>
            <ol id="breadcrumb" class="breadcrumb secondary-light">
                <li class="breadcrumb-item active" aria-current="page"><a class="text-light" href="#">Home</a></li>
            </ol>
        </nav>
        <div id="data" class="row data p-3">
            {%for subject in subjects%}
            {{ kafelek_start|safe }}<a href='/#{{subject.id}}' class="text-light kafelek col-12"><span style="display: inline-block" style="margin:1em"><img class="ikona" src="{{url_for('static', filename='images/folder.png')}}"></span> <span style="display: inline-block" class="name">{{subject.name}}</span></a></div></div>
            {%endfor%}
        </div>
    </div>
{% else %}
    <div class="col-md-2"></div>
    <div class="col-lg-8">
        <div style="height: 200px">
        <div class="rounded alert-danger" style="padding: 20px; margin-top:50px; margin-bottom:50px">
            <h3 class="text-center">Musisz być zalogowany!</h3>
        </div>
        </div>
    </div>
    <div class="col-md-2"></div>
{% endif%}
</div>
{% endblock %}