{% extends "_base.html" %}
{% set page_id = "homepage" %}
{% block content %}
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-lg-8">
{% if current_user.is_authenticated%}
{% else %}
        <div style="height: 200px">
        <div class="rounded alert-danger" style="padding: 20px; margin-top:50px; margin-bottom:50px">
            <h3 class="text-center">Musisz być zalogowany!</h3>
        </div>
        </div>
{% endif%}
    </div>
    <div class="col-md-2">

    </div>
</div>
{% endblock %}