{% extends "_base.html" %}

{% set page_id = 'notes' %}
{% block content %}
   <div class="row mt-3">
      <div class="col-lg-3 mb-2">
          <a class="btn btn-warning btn-block" href="/admin">< Funkcje administratora</a>
          <hr>
      </div>
    <div class="col-lg-8">
         <div class="list-group">
            <li class="list-group-item active" href=""><h4>Notatki<span class="float-right badge badge-light badge-pill">{{notes|length}}</span></h4></li>
            {% for note in notes %}
            <li class="list-group-item"><a class="btn m-1" href="#"><h5>{{note.name}}</h5></a><a class="float-right btn btn-danger m-1" href="#">Usuń</a> </li>
         {% endfor %}

     </div>
     </div>
      <div class="col-md-1 mb-2"></div>
     </div>
 {% endblock %}