{% extends "_base.html" %}

{% set page_id = 'register' %}

{% block content %}
  <div class="row register-row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4 bg-white m-2 rounded" style="padding:15px;">
      <h3>Rejestracja</h3>
		<form method=post action="{{url_for('register', next=request.args.get('next'))}}">
            <div class="form-group">
                <input class="form-control" id="username" name="username" type="text" value="{% if form %}{{form['username']}}{% endif %}" autofocus placeholder="Nazwa użytkownika">
                {% if used_username %}
                <small class="form-text text-danger">
                    Ta nazwa użytkownika jest już zajęta!
                </small>
                {% endif %}
                {% if wrong_username %}
                <small class="form-text text-danger">
                    Nazwa użytkownika nie może zawierać spacji!
                </small>
                {% endif %}
            </div>
            <div class="form-group">
                <input class="form-control" id="email" name="email" type="email" value="{% if form %}{{form['email']}}{% endif %}" placeholder="Adres email">
                {% if wrong_email %}
                <small class="form-text text-danger">
                    Niepoprawny adres email!
                </small>
                {% endif %}
            </div>
            <div class="form-group">
                <input class="form-control" id="password" name="password" type="password" value="" placeholder="Hasło">
            </div>
            <div class="form-group">
                <input class="form-control" id="confirm" name="confirm" type="password" value="" placeholder="Powtórz hasło">
                {% if wrong_password %}
                <small class="form-text text-danger">
                    Błędne hasło
                </small>
                {% endif %}
            </div>
            <div class="form-check">
                <input class="form-check-input" id="accept_tos" name="accept_tos" type="checkbox" value="checked" {% if form %}{{form['accept_tos']}}{% endif %}>
                <label class="form-check-label" for="accept_tos">Akceptuję Warunki użytkowania i Politykę prywatności (zaktualizowana 17 stycznia 2018r.)</label>
                {% if not_accept %}
                <small class="form-text text-danger">
                    Aby się zarejestrować musisz zaakceptować!
                </small>
                {% endif %}
            </div><br>
            <input class="btn btn-primary" type=submit value="Zarejestruj się">
		</form>
	</div>
    <div class="col-lg-4">
    </div>
  </div>
{% endblock %}