<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
<nav class="navbar navbar-expand-md navbar-dark bg-dark secondary-light mb-2">
    <a class="navbar-brand" href="{{request.host_url}}" style="height: 45px">
        <span class="align-middle">Pytatki</span>
        <span class="align-middle badge" style="border-color:#ffc107; color:#ffc107; border: 1px solid">alpha</span>
    </a>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            Your account was successfully created. Please click the link to confirm your email address:
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary" href="{{request.host_url}}user/confirm/{{token}}">Potwierdź adres email</a>
        </div>
    </div>
</div>