* {
  box-sizing: border-box; }

.grid-wrapper {
  display: grid;
  grid-template-columns: 195px auto;
  grid-template-rows: 290px auto;
  grid-column-gap: 30px; }

.row {
  margin-right: 0; }

nav {
  grid-row: 1;
  grid-column: 1; }

#messages {
  grid-row: 1;
  grid-column: 2; }

.navbar-nav {
  margin-left: 20px; }
  .navbar-nav .nav-link {
    color: #1d1d1d !important; }

.btn {
  background-color: #fd9453;
  border-color: #fd9453;
  color: #fff !important;
  box-shadow: 1px 1px 4px 0 #1d1d1d;
  cursor: pointer;
  max-width: 200px;
  margin-top: 10px;
  z-index: 20; }
  .btn:active, .btn:hover, .btn:focus {
    background-color: #fb9d62;
    border-color: #fb9d62;
    color: #fff;
    box-shadow: 1px 1px 4px 0 #1d1d1d; }

.bar {
  width: 140px; }

.navbar-brand {
  margin: 10px 0 0 20px;
  color: #1d1d1d;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif; }
  .navbar-brand:hover {
    color: #1d1d1d; }
  .navbar-brand .badge {
    border: solid 1px #fd9453;
    color: #fd9453;
    vertical-align: top;
    font-size: 8px; }

.nav-pills .nav-link {
  color: #55c2bb; }
  .nav-pills .nav-link:hover {
    color: #5eddd4; }

.nav-pills .nav-link.active {
  background-color: #55c2bb !important; }
  .nav-pills .nav-link.active:hover {
    color: #fff; }

.landing-content {
  margin: 33vh auto 0;
  color: #1d1d1d;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative; }
  .landing-content .brand {
    font-size: 60px;
    letter-spacing: 4px; }
  .landing-content .badge {
    position: absolute;
    border: solid 1px #fd9453;
    letter-spacing: 1px;
    color: #fd9453;
    vertical-align: top;
    font-size: 15px; }
  .landing-content .motivation {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 16px; }
  .landing-content .empty-button {
    border: solid 3px #fd9453;
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 24px;
    color: #fd9453;
    padding: 3px 55px;
    text-decoration: none; }
    .landing-content .empty-button:hover {
      text-decoration: none;
      background-color: #fd9453;
      border-color: #fd9453;
      color: #fff; }

.react-contextmenu-wrapper {
  display: inline-block; }

.react-contextmenu {
  z-index: 30; }

.login-row,
.register-row {
  margin: 100px auto;
  max-width: 400px; }

footer a {
  margin: auto; }

@media only screen and (max-width: 575px) {
  .landing-content .brand {
    font-size: 53px; }
  .landing-content .badge {
    font-size: 12px; }
  .login-row {
    margin: 100px 15px; }
    .login-row h3 {
      text-align: center;
      margin-bottom: 35px; }
  .register-row {
    margin: 50px 15px; }
    .register-row h3 {
      text-align: center;
      margin-bottom: 35px; }
  .grid-wrapper {
    display: inline-block; }
  nav {
    width: 70vw;
    background-color: lightblue;
    position: fixed;
    height: 50vh;
    left: -70vw;
    z-index: 999; }
  .navOpen {
    left: 0; }
  #openSwipeArea {
    height: 100vh;
    width: 30vw;
    position: absolute;
    z-index: 10; }
  #closeSwipeArea {
    height: 100vh;
    width: 30vw;
    position: absolute;
    right: 0;
    z-index: 10; } }

@-webkit-keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
    transform: translateX(0) translateZ(0) scaleY(1); }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
    transform: translateX(-25%) translateZ(0) scaleY(0.55); }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
    transform: translateX(-50%) translateZ(0) scaleY(1); } }

@keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
    transform: translateX(0) translateZ(0) scaleY(1); }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
    transform: translateX(-25%) translateZ(0) scaleY(0.55); }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
    transform: translateX(-50%) translateZ(0) scaleY(1); } }

.wave {
  position: fixed;
  left: 0;
  top: 58vh;
  width: 400%;
  height: 50vh;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }

.waveTop {
  z-index: 15;
  opacity: 0.5;
  animation: move_wave 30s linear infinite reverse;
  background-position: 50%;
  background-image: url("/static/images/wave.png"); }

.waveMiddle {
  z-index: 10;
  opacity: 0.75;
  background-position: 20%;
  animation: move_wave 40s linear infinite reverse;
  background-image: url("/static/images/wave.png"); }

.waveBottom {
  z-index: 5;
  animation: move_wave 60s linear infinite reverse;
  background-image: url("/static/images/wave.png"); }

.grid-wrapper-deaditor {
  display: grid;
  grid-template-columns: 195px auto;
  grid-column-gap: 30px; }

#deaditor {
  grid-column: 2;
  grid-row: 1;
  margin-top: 25px; }
  #deaditor .controls {
    border: #444444 solid 1px;
    max-width: 70vw;
    margin: auto; }
    #deaditor .controls .styleButton {
      padding: 10px; }
  #deaditor .editor,
  #deaditor .editorhidePlaceholder {
    min-height: 80vh;
    border: #444444 solid 1px;
    max-width: 70vw;
    margin: auto;
    position: relative; }
    #deaditor .editor a,
    #deaditor .editorhidePlaceholder a {
      position: absolute;
      bottom: 10px;
      right: 10px; }
  #deaditor .DraftEditor-root {
    padding: 20px; }


/*# sourceMappingURL=deaditor.css.map*/