.form---23KHH label {
  font: 12px; }

.form---23KHH input[type=submit] {
  background: none; }

.btn---Kk3aa {
  border: 3px solid black;
  border-radius: 0;
  background-color: white;
  text-transform: uppercase;
  outline: none; }
  .btn---Kk3aa:focus, .btn---Kk3aa:active {
    border-color: #aaaaaa; }

.sidebar---UaxL_ {
  grid-column: 1;
  grid-row: 2; }
  .sidebar---UaxL_ p {
    margin-left: 20px; }
  .sidebar---UaxL_ ul {
    list-style: none;
    margin-right: 20px; }
    .sidebar---UaxL_ ul button {
      text-transform: uppercase;
      margin: 5px 0;
      padding: 5px;
      text-align: center;
      width: 100%; }
      .sidebar---UaxL_ ul button:hover {
        cursor: pointer; }

.no_group_chosen---XNkXG {
  font-size: 24px;
  padding-top: 100px;
  text-align: center; }

.note---36LoE {
  background-image: url("/static/images/note.svg");
  background-size: cover;
  display: inline-block;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  vertical-align: top;
  cursor: pointer; }
  .note---36LoE p {
    margin: 150px 20px 20px 27px;
    pointer-events: none;
    font-size: 18px; }

.folder---2QDV- {
  background-image: url("/static/images/folder.png");
  background-size: cover;
  display: inline-block;
  width: 150px;
  height: 130px;
  margin: 10px;
  vertical-align: top;
  cursor: pointer; }
  .folder---2QDV- p {
    pointer-events: none;
    font-size: 18px;
    margin: 140px 15px 15px; }

.delete---YQ14y {
  position: absolute;
  top: -5px;
  right: 0;
  cursor: pointer; }

.noteWrapper---10iWt,
.folderWrapper---2GEKe {
  margin-bottom: 50px;
  position: relative;
  display: inline-block; }

.mainContent---3JRhJ {
  grid-column: 2;
  grid-row: 1 / span 2; }

.actionBar---3kI31 {
  margin-top: 20px; }
  .actionBar---3kI31 > div {
    display: inline-block; }
    .actionBar---3kI31 > div button {
      margin-right: 15px; }

.back---1J3PK {
  margin-top: 10px;
  font-size: 30px;
  position: absolute; }
  .back---1J3PK span {
    cursor: default; }
  .back---1J3PK i {
    cursor: pointer; }

.fetchedData---ABEO4 {
  padding-top: 45px; }

* {
  box-sizing: border-box; }

.grid-wrapper {
  display: grid;
  grid-template-columns: 195px auto;
  grid-template-rows: 290px auto; }

nav {
  grid-row: 1;
  grid-column: 1; }

#messages {
  grid-row: 1;
  grid-column: 2; }

.navbar-nav {
  margin-left: 20px; }
  .navbar-nav .nav-link {
    color: #1d1d1d !important; }

.btn {
  background-color: #fd9453;
  border-color: #fd9453;
  color: #fff;
  box-shadow: 1px 1px 4px 0 #1d1d1d; }
  .btn:active, .btn:hover, .btn:focus {
    background-color: #fb9d62;
    border-color: #fb9d62;
    color: #fff;
    box-shadow: 1px 1px 4px 0 #1d1d1d; }

.navbar-brand {
  margin: 10px 0 0 20px;
  color: #1d1d1d;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif; }
  .navbar-brand:hover {
    color: #1d1d1d; }
  .navbar-brand .badge {
    border: solid 1px #fd9453;
    color: #fd9453;
    vertical-align: top;
    font-size: 8px; }

.nav-pills .nav-link {
  color: #55c2bb; }
  .nav-pills .nav-link:hover {
    color: #3faca4; }

.nav-pills .nav-link.active {
  background-color: #55c2bb !important; }
  .nav-pills .nav-link.active:hover {
    color: #fff; }

.landing-content {
  margin: 33vh auto 0;
  color: #1d1d1d;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative; }
  .landing-content .brand {
    font-size: 60px;
    letter-spacing: 4px; }
  .landing-content .badge {
    position: absolute;
    border: solid 1px #fd9453;
    letter-spacing: 1px;
    color: #fd9453;
    vertical-align: top;
    font-size: 15px; }
  .landing-content .motivation {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 16px; }
  .landing-content .empty-button {
    border: solid 3px #fd9453;
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 24px;
    color: #fd9453;
    padding: 3px 55px; }
    .landing-content .empty-button:hover {
      text-decoration: none;
      background-color: #fd9453;
      border-color: #fd9453;
      color: #fff; }


/*# sourceMappingURL=style.css.map*/