@import "_variables";

* {
  box-sizing: border-box;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 195px auto;
  grid-template-rows: 290px auto;
  grid-column-gap: 30px;
}
.row {
  margin-right: 0;
}

nav {
  grid-row: 1;
  grid-column: 1;
}

#messages {
  grid-row: 1;
  grid-column: 2;
}

.navbar-nav {
  margin-left: 20px;

  .nav-link {
    color: $black !important;
  }
}

%btn {
  background-color: $primary;
  border-color: $primary;
  color: $white;
  box-shadow: 1px 1px 4px 0 $black;
  cursor: pointer;

  &:active,
  &:hover,
  &:focus {
    background-color: $primary_hover;
    border-color: $primary_hover;
    color: $white;
    box-shadow: 1px 1px 4px 0 $black;
  }
}

.btn {
  @extend %btn;
}

.bar {
  width: 160px;
}

.navbar-brand {
  margin: 10px 0 0 20px;
  color: $black;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;

  &:hover {
    color: $black;
  }

  .badge {
    border: solid 1px $primary;
    color: $primary;
    vertical-align: top;
    font-size: 8px;
  }
}

.nav-pills {
  .nav-link {
    color: $secondary;

    &:hover {
      color: $secondary_hover;
    }
  }

  .nav-link.active {
    background-color: $secondary !important;

    &:hover {
      color: $white;
    }
  }
}

.landing-content {
  margin: 33vh auto 0;
  color: $black;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative;

  .brand {
    font-size: 60px;
    letter-spacing: 4px;
  }

  .badge {
    position: absolute;
    border: solid 1px $primary;
    letter-spacing: 1px;
    color: $primary;
    vertical-align: top;
    font-size: 15px;
  }

  .motivation {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 16px;
  }

  .empty-button {
    border: solid 3px $primary;
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 24px;
    color: $primary;
    padding: 3px 55px;

    &:hover {
      text-decoration: none;
      background-color: $primary;
      border-color: $primary;
      color: $white;
    }
  }
}

.react-contextmenu-wrapper {
  display: inline-block;
}
