@import '_variables';

* {
    box-sizing: border-box;
}

.nav-link {
    color: $black !important;
}

.btn {
    background-color: $secondary;
    border-color: $secondary;
    color: $white;


    &:active,
    &:visited,
    &:hover {
        background-color: $primary;
        border-color: $primary;
        color: $white;
    }

    &:active,
    &:focus{
        box-shadow: none !important;
    }
}

.navbar-brand {
    color: $black;

    .badge {
        border: solid 1px $black;
    }

}