.info {
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  height: 100%;
  padding: 10px;
  max-width: 600px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.85);
}
