@import "_variables.scss";
@import "global";

.modal {
  position: fixed;
  top: 30%;
  left: 40%;
  border: 3px solid $primary;
  border-radius: 5px;
  background-color: $white;
  padding: 20px;
  z-index: 999;
  span {
    @extend %btn;
    width: 40%;
    margin: 5%;
    text-align: center;
    display: inline-block;
  }
}
