@import "_variables";

.no_group_chosen {
  font-size: 24px;
  text-align: center;
}

.note {
  background-image: url("/static/images/note.svg");
  background-size: cover;
  display: inline-block;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  vertical-align: top;
  cursor: pointer;

  p {
    margin: 150px 20px 20px 27px;
    pointer-events: none;
    font-size: 18px;
  }
}

.folder {
  background-image: url("/static/images/folder.png");
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 150px;
  height: 130px;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  vertical-align: top;
  cursor: pointer;

  p {
    pointer-events: none;
    font-size: 18px;
    margin: 140px 15px 15px;
  }
}

.delete {
  position: absolute;
  top: -5px;
  right: 0;
  cursor: pointer;

  i {
    padding: 5px;
  }
}

.elementWrapper {
  padding: 10px;
  margin: 10px;
  //box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6);
  //border: solid 1px #2c2c2c;
  border-radius: 5px;
  width: 180px;
  height: 200px;
  text-align: center;
}

.noteWrapper,
.folderWrapper {
  margin-bottom: 50px;
  position: relative;
  display: inline-block;
}

.mainContent {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.actionBar {
  margin-top: 20px;

  & > div {
    display: inline-block;

    button {
      margin-right: 15px;
    }
  }
}

.back {
  margin-top: 10px;
  font-size: 30px;
  position: absolute;

  span {
    cursor: default;
  }

  i {
    cursor: pointer;
  }
}

.fetchedData {
  padding-top: 45px;
}

.usergroupName {
  margin-top: 30px;
  font-size: 30px;
}

.create_new_usergroup {
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
