.sidebar{
    position: fixed;
    height: 100vh;
    width: 150px;
    vertical-align: top;
    p{
        margin-left: 10px;
    }
    ul{
        list-style: none;
        margin-right: 20px;
        li{
            text-transform: uppercase;
            margin: 5px 0;
            padding: 5px;
            border: 1px solid blue;
            text-align: center;
            &:hover{
                cursor: pointer;
            }
        }
    }
}