{% extends "_base.html" %}

{% set page_id = 'add' %}

{% block content %}
<script>
    function select_check(){
        if (document.getElementById('topic-type').selected){
            var $html = $('<select class="custom-select" id="parent_id" name="parent_id">{%for subject in subjects%}<option value="{{subject["idnotegroup"]}}">{{subject['folder_name']}}</option>{%endfor%}</select>');
            str = $html.prop('outerHTML');
            document.getElementById('choose-subject').innerHTML = str;
        }
        else{
            document.getElementById('choose-subject').innerHTML = "";
        }
    }
</script>
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 bg-white rounded m-2" style="padding:15px;">
      <h3>Dodaj</h3>
		<form method=post id='add-form' action="{{request.url}}">
            <div class="form-group">
                <label for="class">Klasa</label>
                <select form="add-form" class="custom-select" id="class" name="class">
                    {% for class in classes %}
                    <option value="{{class['idusergroup']}}">{{class['name']}}</option>
                    {% endfor %}
                </select>
            <div class="form-group">
                <label for="title">Nazwa</label>
                <input class="form-control" id="title" name="title" type="text" value="" autofocus placeholder="Nazwa">
            </div>
            <div class="form-group">
                <label for="type">Wybierz kategorię</label>
                <select form="add-form" class="custom-select" id="type" name="type" onchange="select_check()">
                  <option id="subject-type" value="subject">New Parent</option>
                  <option id='topic-type' value="topic">New Child</option>
                </select>
            </div>
            <div class="form-group" id="choose-subject">
            </div>
            <input class="btn btn-primary" type=submit value="Wyślij">
		</form>
		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}
	</div>
    <div class="col-lg-2">
    </div>

  </div>
{% endblock %}