<!doctype html>
<html lang='pl'>

<head>
    <title>Pytatki - Resetowanie Hasła - Etap 2</title>
    <meta name="Description" content="Login page.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <a class="navbar-brand" href="/" style="height: 45px">
            <span class="align-middle">Pytatki</span>
            <span class="badge">beta</span>
        </a>
    </nav>
    <div>
        <div id="messages">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category,
            message in
            messages %}
            <div data-alert class="alert alert-{{category}} alert-dismissible show">
                {{ message|safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>
    </div>
    <div class="login-row">
        <div>
            <h3>Reset Hasła</h3>
            <p>Podaj nowe hasło</p>
            <form method="post">
                <div class="form-group">
                    <input autocapitalize="none" class="form-control" id="password" name="password" type="password"
                        value="" placeholder="Hasło">
                    <ul id="pass" class="bg-white m-2 p-2 rounded" style="width: 80%; padding: .375rem .75rem; display: none; position: absolute; z-index: 999; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
                        <li id="letter" class="text-danger ml-4"><small class="form-text"><b>Duże</b> i <b>małe</b>
                                litery</small></li>
                        <li id="number" class="text-danger ml-4"><small class="form-text"><b>Cyfry</b></small></li>
                        <li id="length" class="text-danger ml-4"><small class="form-text"><b>8</b> znaków</small></li>
                    </ul>
                </div>
                <div class="form-group">
                    <input autocapitalize="none" class="form-control" id="confirm" name="confirm" type="password" value=""
                        placeholder="Powtórz hasło">
                    {% if wrong_password %}
                    <small class="form-text text-danger">
                        Błędne hasło
                    </small>
                    {% endif %}
                </div>
                
                <input class="btn btn-primary" type=submit value="Resetuj">
                
            </form>
            {% if error %}
            <p class="error">
                <strong>Error:</strong>{{error}}</p>
            {% endif %}
        </div>
        <div class="col-lg-4">
        </div>
    </div>

</body>

</html>