<!doctype html>
<html lang='pl'>

<head>

    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <a class="navbar-brand" href="/" style="height: 45px">
            <span class="align-middle">Pytatki</span>
            <span class="badge">beta</span>
        </a>
    </nav>
    <div>
        <div id="messages">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category,
            message in
            messages %}
            <div data-alert class="alert alert-{{category}} alert-dismissible show">
                {{ message|safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>
    </div>
    <div class="register-row">
        <div>
            <h3>Rejestracja</h3>
            <form id="form" method=post action="{{url_for('register_post', next=request.args.get('next'))}}">
                <div class="form-group">
                    <input autocapitalize="none" class="form-control" id="reg_username" name="username" type="text"
                        value="{% if form %}{{form['username']}}{% endif %}" autofocus placeholder="Nazwa użytkownika">
                    {% if used_username %}
                    <small class="form-text text-danger">
                        Ta nazwa użytkownika jest już zajęta!
                    </small>
                    {% endif %}
                    {% if wrong_username %}
                    <small class="form-text text-danger">
                        Nazwa użytkownika nie może zawierać spacji!
                    </small>
                    {% endif %}
                    {% if upper %}
                    <small class="form-text text-danger">
                        Nazwa użytkownika nie może zawierać dużych liter!
                    </small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input autocapitalize="none" class="form-control" id="email" name="email" type="email" value="{% if form %}{{form['email']}}{% endif %}"
                        placeholder="Adres email">
                    {% if wrong_email %}
                    <small class="form-text text-danger">
                        Niepoprawny adres email!
                    </small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input autocapitalize="none" class="form-control" id="password" name="password" type="password"
                        value="" placeholder="Hasło">
                    <ul id="pass" class="bg-white m-2 p-2 rounded" style="width: 80%; padding: .375rem .75rem; display: none; position: absolute; z-index: 999; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
                        <li id="letter" class="text-danger ml-4"><small class="form-text"><b>Duże</b> i <b>małe</b>
                                litery</small></li>
                        <li id="number" class="text-danger ml-4"><small class="form-text"><b>Cyfry</b></small></li>
                        <li id="length" class="text-danger ml-4"><small class="form-text"><b>8</b> znaków</small></li>
                    </ul>
                </div>
                <div class="form-group">
                    <input autocapitalize="none" class="form-control" id="confirm" name="confirm" type="password" value=""
                        placeholder="Powtórz hasło">
                    {% if wrong_password %}
                    <small class="form-text text-danger">
                        Błędne hasło
                    </small>
                    {% endif %}
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="accept_tos" name="accept_tos" type="checkbox" value="checked"
                        {% if form %}{{form['accept_tos']}}{% endif %}>
                    <label class="form-check-label" for="accept_tos">Akceptuję Warunki użytkowania i Politykę
                        prywatności
                        (zaktualizowana 17 stycznia 2018r.)</label>
                    {% if not_accept %}
                    <small class="form-text text-danger">
                        Aby się zarejestrować musisz zaakceptować!
                    </small>
                    {% endif %}
                </div><br>
                <input id="submit" class="btn btn-primary" disabled="disabled" type=submit value="Zarejestruj się">
            </form>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
    <script>
        var form = document.getElementById("form");

        var register_username = document.getElementById("reg_username");
        var email = document.getElementById("email");
        var password = document.getElementById("password");
        var confirm = document.getElementById("confirm");
        var letter = document.getElementById("letter");
        var number = document.getElementById("number");
        var length = document.getElementById("length");

        var username_status = false;
        var email_status = false;

        var pass = {
            letter: false,
            number: false,
            length: false
        };
        var pass_status = false;

        var pass_confirm = false

        password.onfocus = function () {
            document.getElementById("pass").style.display = "block";
        }

        password.onblur = function () {
            document.getElementById("pass").style.display = "none";
        }

        password.onkeyup = function () {
            var lowerCaseLetters = /[a-z]/g;
            var upperCaseLetters = /[A-Z]/g;
            if (password.value.match(lowerCaseLetters) && password.value.match(upperCaseLetters)) {
                letter.classList.remove("text-danger");
                letter.classList.add("text-success");
                pass.letter = true;
            } else {
                letter.classList.remove("text-success");
                letter.classList.add("text-danger");
                pass.letter = false;
            }

            var numbers = /[0-9]/g;
            if (password.value.match(numbers)) {
                number.classList.remove("text-danger");
                number.classList.add("text-success");
                pass.number = true;
            } else {
                number.classList.remove("text-success");
                number.classList.add("text-danger");
                pass.number = false;
            }

            if (password.value.length >= 8) {
                length.classList.remove("text-danger");
                length.classList.add("text-success");
                pass.length = true;
            } else {
                length.classList.remove("text-success");
                length.classList.add("text-danger");
                pass.length = false;
            }

            if (pass.letter && pass.number && pass.length) {
                pass_status = true;
            } else {
                pass_status = false;
            }
        }

        form.onchange = function () {

            if (password.value == confirm.value) {
                pass_confirm = true;
            } else {
                pass_confirm = false;
            }
            if (email.value != "") {
                email_status = true;
            } else {
                email_status = false;
            }
            if (email.value != "") {
                email_status = true;
            } else {
                email_status = false;
            }
            if (register_username.value != "") {
                username_status = true;
            } else {
                username_status = false;
            }
            if (pass_status && pass_confirm && username_status && email_status) {
                document.getElementById("submit").disabled = "";
            } else {
                document.getElementById("submit").disabled = "disabled";
            }
        }
    </script>
</body>

</html>