{% extends "_base.html" %}
<title> Lista użytkowników </title>
{% set page_id = "user_list" %} {% block content %}
<div class="row mt-3">
    <div class="col-xl-3">
        <a class="btn btn-warning btn-block" href="/admin">
            < Funkcje administratora</a> <hr>
    </div>
    <div class="col-xl-9 mb-3">
        <div class="list-group">
            <li class="list-group-item active" href="">
                <h4>Użytkownicy
                    <span class="float-right badge badge-light badge-pill">{{users|length}}</span>
                </h4>
            </li>
            {%for a in users%}
            <li class="list-group-item">
                <a class="m-1" href="/user/{{a['login']}}">
                    <h5 class="ml-2">{{a['login']}}
                        {% if a['login']==current_user['login'] %}
                        <span class="ml-3 badge badge-secondary" style="display: inline-block">TO TY!</span>
                        {% endif %}
                        {% if a.is_admin %}
                        <span class="ml-3 badge badge-primary" style="display: inline-block">ADMIN</span>
                        {% endif %}
                    </h5>
                </a>
                {% if not a.is_admin%}
                <a class="float-right btn btn-danger m-1" href="/admin/delete/user/{{a.id}}/?next=%2Fadmin%2Fuser-list%2F">Usuń</a>
                {% endif %}
                {% if current_user.is_admin %}
                {% if not a.is_admin%}
                <a class="float-right btn btn-info m-1" href="/admin/give-admin/{{a['iduser']}}/?next=%2Fadmin%2Fuser-list%2F">Daj
                    admina</a>
                {%else%}
                {%if not a['login']==current_user['login']%}
                <a class="float-right btn btn-info m-1" href="/admin/take-admin/{{a['iduser']}}/?next=%2Fadmin%2Fuser-list%2F">Odbierz
                    admina</a>
                {% endif %}
                {% endif %}
                {% endif %}
            </li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}