{% extends "_base.html" %}
<title>{{ current_user['login'] }}</title>
{% set page_id = "current_user['login']" %}
{% block content %}
<div class="row mt-3">
  <div class="col-md-8">
    <h2>
      {%if user['login']==current_user['login']%}
      {{ current_user['login']}}<span class="ml-3 badge badge-secondary">TO TY!</span>
      {%else%}
      {{user['login']}}
      {%endif%}
      {% if user.admin() %}
      <span class="ml-3 badge badge-primary">ADMIN</span>
      {% endif %}
    </h2>
  </div>
</div>
{%if user['login']==current_user['login']%}
<hr>
<h2>Ustawienia</h2>
<div class="row">
  <div class="col-md-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-account-tab" data-toggle="pill" href="#v-pills-account" role="tab"
        aria-controls="v-pills-account" aria-selected="true">Konto</a>
      <a class="nav-link" id="v-pills-group-tab" data-toggle="pill" href="#v-pills-group" role="tab" aria-controls="v-pills-group"
        aria-selected="false">Twoje klasy</a>
      <a class="nav-link" id="v-pills-group-tab" data-toggle="pill" href="#v-pills-note" role="tab" aria-controls="v-pills-group"
        aria-selected="false">Twoje notatki</a>
      <a class="nav-link" id="v-pills-email-tab" data-toggle="pill" href="#v-pills-email" role="tab" aria-controls="v-pills-email"
        aria-selected="false">Ustawienia e-mail</a>
    </div>
    <hr>
  </div>
  <div class="col">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-account" role="tabpanel" aria-labelledby="v-pills-account-tab">
        <button id="v-pills-password-tab" class="btn btn-primary btn-block" role="presentation" data-toggle="modal"
          data-target="#v-pills-password" href="#">Zmień hasło</button>
        <hr>
        <h5 class="text-danger">Strefa X</h5>
        <button class="btn btn-danger btn-block" role="presentation" data-toggle="modal" data-target="#are-you-sure"
          href="#"> Usuń swoje konto</button><br>
      </div>
      <div class="tab-pane fade" id="v-pills-group" role="tabpanel" aria-labelledby="v-pills-group-tab">
        {% if groups %}
        {% for group in groups %}
        <p>{{group['name']}}</p>
        {% endfor %}
        {% else %}
        <p>Wygląda na to, że nie należysz do żadnej klasy</p>
        <a href="#" class="btn btn-primary">Dołącz teraz</a>
        {% endif %}
      </div>
      <div class="tab-pane fade" id="v-pills-note" role="tabpanel" aria-labelledby="v-pills-group-tab">
        {% if notes %}
        {% for note in notes %}
        <a href="/download/{{note['idnote']}}">
          <p>{{note['title']}}</p>
        </a>
        {% endfor %}
        {% else %}
        <p>Wygląda na to, że posiadasz żadnej notatki</p>
        <a href="#" class="btn btn-primary">Dodaj jakąś teraz</a>
        {% endif %}
      </div>
      <div class="tab-pane fade" id="v-pills-email" role="tabpanel" aria-labelledby="v-pills-email-tab">
        <form method=post action="/user/update-email/?next=/user/{{current_user['login']}}#v-pills-email">
          <div class="input-group">
            <input autocapitalize="none" class="form-control {% if current_user['email_confirm'] %}is-valid{% else %}is-invalid{% endif %}"
              id="email" name="email" type="text" value="{{ current_user['email'] }}" placeholder="Email">
            <div class="input-group-append"><input class="btn btn-danger" type=submit value="Zaktualizuj"></div>
          </div>
          {% if not current_user['confirm_email'] %}
          <small class="form-text text-danger">
            Niezweryfikowany adres email
          </small>
          {% endif %}
        </form>
      </div>
      <div class="modal fade" id="v-pills-password" tabindex="-5" role="dialog" aria-labelledby="v-pills-password-tab"
        aria-hidden="true" style="text-align: left;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 style="text-align: left;" class="modal-title" id="exampleModalLabele">Zaktualizuj hasło</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <form method=post action="/user/update-password/?next=/user/{{current_user['login']}}#v-pills-account">
                  <div class="form-group">
                    <input autocapitalize="none" class="form-control" id="password" name="password" type="password"
                      placeholder="Current password">
                    <input autocapitalize="none" class="form-control" id="new-password" name="new-password" type="password"
                      placeholder="New password">
                    <div class="input-group-append"><input class="btn btn-danger" type=submit value="Zaktualizuj"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





    <!--<div class="form-group">
              <input autocapitalize="none" class="form-control" id="password" name="password" type="password" value="" placeholder="Hasło">
    </div>-->
  </div>
</div>
<div class="modal fade" id="are-you-sure" tabindex="-5" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  style="text-align: left;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: left;" class="modal-title" id="exampleModalLabele">Jesteś pewien?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <p>Właśnie zamierzasz usunąć użytkownika <b>{{user.username}}</b>. Jesteś tego pewien?</p>
          <a class="btn btn-danger" href="/admin/delete/user/{{user.id}}">Usuń</a>
          <a class="btn btn-primary" data-dismiss="modal" href="#">Anuluj</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{%else%}
<hr>
<h2>O użytkowniku</h2>
<div class="row">
  <div class="col-md-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-group-tab" data-toggle="pill" href="#v-pills-group" role="tab"
        aria-controls="v-pills-group" aria-selected="false">Klasy</a>
      <a class="nav-link" id="v-pills-group-tab" data-toggle="pill" href="#v-pills-note" role="tab" aria-controls="v-pills-group"
        aria-selected="false">Notatki</a>
    </div>
  </div>
  <div class="col">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade" id="v-pills-group" role="tabpanel" aria-labelledby="v-pills-group-tab">
        {% if groups %}
        {% for group in groups %}
        <p>{{group['name']}}</p>
        {% endfor %}
        {% else %}
        <p>Wygląda na to, że ten użytkownik nie należy do żadnej klasy</p>
        <a href="#" class="btn btn-primary">Dodaj go teraz</a>
        {% endif %}
      </div>
      <div class="tab-pane fade" id="v-pills-note" role="tabpanel" aria-labelledby="v-pills-group-tab">
        {% if notes %}
        <h5>Pamiętaj, możesz nie mieć dostępu do niektórych notatek</h5>
        {% for note in notes %}
        <a href="/download/{{note['idnote']}}">
          <p>{{note['title']}}</p>
        </a>
        {% endfor %}
        {% else %}
        <p>Wygląda na to, że ten użytkownik nie posiada żadnej notatki</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{%endif%}
{% endblock %}